
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_area section-margin pb-0" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="main_title">
                    <p class="top_text">Updated 23/02/2020 <span></span></p>
                    <h2>
                        Here are my Specs
                    </h2>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <a href="https://docs.google.com/spreadsheets/d/1zjgE1PTWX42fH4eoIMzhvRhUyyYjhJ3a50YqfbZy5dk/edit#gid=1556567716" target="_blank">
                        <img style="margin-left: auto; margin-right: auto; display: block;" src="/img/specs/chart.svg" alt="Technologies chart" />
                    </a>
                    <div class="text-center">
                        <a class="primary_btn text-center" href="https://docs.google.com/spreadsheets/d/1zjgE1PTWX42fH4eoIMzhvRhUyyYjhJ3a50YqfbZy5dk/edit#gid=1556567716" target="_blank"><span>Tech Sheet</span></a>
                        <br /><br />
                        <div class="col-md-12 align-items-center pricing" id="technologies"></div>
                        <span class="text-center" style="margin: 0 auto;">
                            <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSZcY8GdaWZl1pvtdQ_AHYYrtkOAi5WG10ROj5NL1pwE0DKs7d1rObKGXyto89HQRcgyjQJAMmTHxnK/pubhtml?&gid=1556567716" target="_blank">View sheet</a>
                        </span>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row pricing-container container justify-content-start align-items-center">
                <h5 class="text-uppercase text-center">Minimum - Remote</h5>
                <div class="col-md-12 align-items-center pricing" id="pricingRemote"></div>
                <span class="text-center" style="margin: 0 auto;">
                    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSZcY8GdaWZl1pvtdQ_AHYYrtkOAi5WG10ROj5NL1pwE0DKs7d1rObKGXyto89HQRcgyjQJAMmTHxnK/pubhtml?gid=0&amp;range=A8:F11" target="_blank">View sheet</a>
                </span>
            </div>
            <div class="row container pricing-container justify-content-start align-items-center">
                <h5 class="text-uppercase text-center">Minimum - Onsite</h5>
                <div class="col-md-12 align-items-center pricing" id="pricingOnsite"></div>
                <span class="text-center" style="margin: 0 auto;">
                    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSZcY8GdaWZl1pvtdQ_AHYYrtkOAi5WG10ROj5NL1pwE0DKs7d1rObKGXyto89HQRcgyjQJAMmTHxnK/pubhtml?gid=0&amp;range=A2:F5" target="_blank">View sheet</a>
                </span>
            </div>
        </div>
    </div>
</section>