<section class="about_area">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="/img/profile/about-us.png" alt="">
                </div>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left row">
                    <p class="top_text">About me <span></span></p>
                    <h2>
                        Software Developer
                    </h2>
                    <p>
                        Software developer with long years of experience in various technologies, projects, environments and companies. A person who don't stop until delivery. A person who invests from himself in his work. Able to learn new technologies in short period of time when needed.
                    </p>
                </div>
                <div class="main_title text-center row">
                    <a class="primary_btn" href="https://docs.google.com/spreadsheets/d/1zjgE1PTWX42fH4eoIMzhvRhUyyYjhJ3a50YqfbZy5dk/edit#gid=1556567716" target="_blank"><span>Tech Sheet</span></a>
                </div>
            </div>
            <div class="row pricing-container container justify-content-start align-items-center">
                <h5 class="text-uppercase text-center">Minimum - Remote</h5>
                <div class="col-md-12 align-items-center pricing" id="pricingRemote"></div>
                <span class="text-center" style="margin: 0 auto;">
                    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSZcY8GdaWZl1pvtdQ_AHYYrtkOAi5WG10ROj5NL1pwE0DKs7d1rObKGXyto89HQRcgyjQJAMmTHxnK/pubhtml?gid=0&amp;range=A8:F11" target="_blank">View sheet</a>
                </span>
            </div>
            <div class="row container pricing-container justify-content-start align-items-center">
                <h5 class="text-uppercase text-center">Minimum - Onsite</h5>
                <div class="col-md-12 align-items-center pricing" id="pricingOnsite"></div>
                <span class="text-center" style="margin: 0 auto;">
                    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSZcY8GdaWZl1pvtdQ_AHYYrtkOAi5WG10ROj5NL1pwE0DKs7d1rObKGXyto89HQRcgyjQJAMmTHxnK/pubhtml?gid=0&amp;range=A2:F5" target="_blank">View sheet</a>
                </span>
            </div>
            <div class="row container">
                <div class="col-3"></div>
                <div class="col-6">
                    <img style="margin-left: auto; margin-right: auto; display: block;" src="/img/specs/chart.svg" alt="Technologies chart" />
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</section>