
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_area section-margin pb-0" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="main_title">
                    <p class="top_text">Updated 23/02/2020 <span></span></p>
                    <h2>
                        Here is my CV
                    </h2>
                    <h3>
                        <a href="~/files/Tanyo_Ivanov_CV.pdf" download><i class="fa fa-download fa-fw w3-margin-right"></i>Download</a>
                    </h3>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>

        <div>
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16 text-center"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Application Developer / Foster + Partners / England</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019 - Dec 2019</h6>
                    <p>Connected my previous company with Foster + Partners to work together. Developed and the tested the main Intranet application. Renewed, documented and presented a lot of outdated applications. Agile methodology. <br /><em>Tech: .NET Core, Design Patterns, ASP.NET, Umbraco, Vue.js, SQL, Selenium, and other common skills.</em></p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Senior Software Developer / BGO Software - NHS / Bulgaria</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2016 - Nov 2018</h6>
                    <p>Developed internal components and fixes for the project. Communicated everyday with the NHS client team. Trained a Junior. Agile methodology. <br /><em>Tech: .NET, Design Patterns, ASP.NET, Ace Admin, SQL, MS Tests, and other common skills.</em></p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Software Developer / Comstream - eGain / Sweden</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2015- Jun 2016</h6>
                    <p>Built web and mobile applications for internal use. Worked onsite from the client office in Sweden. Trained a junior. IoT devices integration. Agile methodology. <br /><em>Tech: .NET, Design Patterns, ASP.NET, SQL, IoT, and other common skills.</em></p><br>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Software Developer / BuCons - HSO / Remote</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2013- Jun 2015</h6>
                    <p>Developed, documented and delivered a lot of applications for the company clients. Worked with the team of HSO from Switzerland remotely until the delivery. Trained a junior. Waterfall methodology. <br /><em>Tech: .NET, WinForms, ASP.NET, DotNetNuke, SQL, WPF, XBAP and other common skills.</em></p><br>
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16 text-center"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Business IT - University of Plovdiv</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2014</h6>
                    <p>Software development and Networking. Finances, Banking and Iconomics. Business English.</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>IT - Asen Zlatarov High School</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2005 - 2009</h6>
                    <p>Software Development, 2D and 3D Design, Office tools.</p>
                    <hr>
                </div>
            </div>

        </div>

    </div>
</section>